<!DOCTYPE html>
<html lang="en" ng-app="jinr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<title>JINR. Sources Book</title>
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/three.js/build/three.min.js"></script>

	<!--<script src="https://dl.dropboxusercontent.com/u/3587259/Code/Threejs/OrbitControls.js"></script>-->
	<script src="js/file-saver.js"></script>
	
	
	<script src="js/app.js"></script> 
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script> 
	<script src="js/controllers.js"></script>

</head>
<body ng-controller="jinrController">
	<div class="container-fluid">
		 <header>
		 	
		 	<div class="container">
		 		<!--<img class="pull-left" src="images/logo.png" width=100>
		 		<div class="col-md-9">
		 			<h1 class="title">Joint Institute for Nuclear Research</h1>
		 			<h2>Guest Book</h2>
		 		</div>-->
		 	</div>
		 	
		 </header>
		 <div class="jinr-particle" data-control-enabled = "{{sphereControlEnabled}}" data-mode="{{mode}}" data-jinr-particle data-width = "1100" data-height = "769" data-src="data/data.json"></div>
		  
	</div>
	<div class="foot-images" ng-click="saveAllImages();"  >
		<!--<img src="images/foot-logo.png">-->
	</div>

</body>

<script type="text/ng-template" id="modalTpl.html">
	<!--Модальное окно-->
	<div class="modal-header">
				 
			   <div class="pull-left flag-icon" style="background:url(images/flags_big/{{currentObject.id}}.png); background-size: cover"></div>
	           <h3 class="modal-title pull-left">{{currentObject.title_en}}</h3>
	           <!--<button type="button" class="btn btn-danger pull-right" ng-click="cancel()" data-dismiss="modal" aria-label="Close">
	           	 <span aria-hidden="true">×</span>
	           </button>-->
	  </div>
	  <div class="modal-body">
	      <div class="drawind-field" drawing-tools></div>
	  </div>
	  <div class="modal-footer">
	      
	      <div class="col-md-offset-6 col-md-6">
	      	 <!--<button class="btn btn-danger btn-block btn-lg" type="button" ng-click="clearImage()">CLEAR</button>-->
	      	 <button class="btn-ok pull-right" type="button" ng-click="ok()"></button>
	      	 <button class="btn-clear pull-right" type="button" ng-click="clearImage()"></button>
	      </div>
	     
	     <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
	  </div>
</script>

<script type="text/ng-template" id="drawingToolsTpl.html">
<!--Рисовалка-->
	<canvas width="1200" height="800" style="margin : auto; display: block;"></canvas>

</script>
	 
</html>